/* Fantasy Theme */

/* Custom Fonts */
@font-face {
  font-family: "Kramer";
  src: url("fonts/kramer/Kramer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Enchanted";
  src: url("fonts/enchanted-land/Enchanted Land DEMO.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Reset & Typography */
/* Using wildcard selector */
* {
  box-sizing: border-box;
  font-family: "Tangerine", fantasy;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 150px;
  font-family: "Kramer";
  font-weight: 100;
  color: #7d3c98;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  background-image: url(images/fantasy.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  padding: 20px;
}

#css-zen-garden {
  margin: 0;
  padding: 0;
  border: #daa520 solid 5px;
}

.page-wrapper header {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 223, 186, 0.6);
  box-shadow: 0px 0px 15px #222;
}

div {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 223, 186, 0.4);
  box-shadow: 0px 0px 15px #222;
}

.page-wrapper footer {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 223, 186, 0.6);
  box-shadow: 0px 0px 15px #222;
}

.supporting {
  grid-column: 2 / 3;
  padding: 10px;
}

#supporting-text {
  font-family: "Enchanted";
  font-size: 30px;
  color: #7d3c98;
}

a[title*="CSS"] {
  color: #690588;
  text-decoration: underline;
}

a[title*="HTML"] {
  color: #690588;
  text-decoration: underline;
}

.page-wrapper section:first-of-type {
  border-top: 10px solid #daa520;
}

.page-wrapper section:last-of-type {
  border-bottom: 10px solid #daa520;
}

.page-wrapper div:has(h3) {
  background-color: rgba(255, 223, 186, 0.5);
}

.page-wrapper div:has(h3) h3 {
  font-family: "Enchanted";
  font-size: 30px;
  color: #7d3c98;
}

/* Style the footer */
.page-wrapper footer {
  border-bottom: 10px solid #daa520;
}

/* Style the footer links */
.page-wrapper footer a {
  color: #690588;
  text-decoration: underline;
}

/* Style the footer links on hover */
.page-wrapper footer a:hover {
  color: #034f0c;
  font-size: xx-large;
  font-weight: 800;
}

/* Further adjustments for grid layout for sections */
.page-wrapper > section {
  grid-column: 3;
}

section:nth-of-type(1) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

section:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1;
}
